.card { 
    min-width:33%;
    display:flex;
    justify-content: center;
}

.card > img {
 max-width:100%   
}


@media only screen and (max-width:800px) {
    .card {
        flex-direction:column;
        align-items:center;
        height: auto;
        width:50%;

    }
 
}